[submodule "GreetingFeatureDrupal"]
	path = GreetingFeatureDrupal
	url = https://github.com/BabaYaga64/GreetingFeatureDrupal.git
[submodule "sites/all/modules/greeting"]
	path = sites/all/modules/greeting
	url = https://github.com/BabaYaga64/GreetingFeatureDrupal.git
[submodule "sites/all/modules/newaccount"]
	path = sites/all/modules/newaccount
	url = https://github.com/BabaYaga64/New_User_Submodule.git
[submodule "sites/all/modules/comment"]
	path = sites/all/modules/comment
	url = https://github.com/BabaYaga64/CommentBuddyHook.git
[submodule "sites/all/modules/sum"]
	path = sites/all/modules/sum
	url = https://github.com/BabaYaga64/SumFormDrupal.git
